<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon"><img [src]="menuItem.imagePath"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{menuItem.name}}</span>
    <span class="menu-item-info-box-detail">Validade : {{menuItem.validateDate}}</span>
    <span class="menu-item-info-box-detail">Usuário : {{menuItem.userName}}</span>
    <span class="menu-item-info-box-detail">Contato : {{menuItem.userEmail}}</span>
    <span class="menu-item-info-box-phone">Telefone : {{menuItem.phone}}</span>
    <a (click)="emitAddEvent()" class="pull-right"><i class="fa fa-plus-circle"></i>Solicitar</a>
  </div>
</div>
