<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon"><img [src]="menuItem.des_imagePath"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{menuItem.des_name}}</span>
    <span class="menu-item-info-box-detail">Validade : {{menuItem.des_validate | date: 'dd/MM/yyyy'}}</span>
    <span class="menu-item-info-box-detail">Usuário : {{menuItem.nom_name}}</span>
    <span class="menu-item-info-box-detail">Cidade : {{menuItem.des_city}}</span>
    <span class="menu-item-info-box-detail">Contato : {{menuItem.des_mail}}</span>
    <span class="menu-item-info-box-phone">Telefone : {{menuItem.num_phone}}</span>
    <a *ngIf="router.url === '/user'" (click)="checkInformations(menuItem.idtb_remedys)" class="pull-right"><i class="fa fa-plus-circle"></i>Excluir</a>
  </div>
</div>
