<header class="main-header">
<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a  class="navbar-brand" [routerLink]="['']"><b>GetMyRemedy</b></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <div class="pull-left">
      <ul class="nav navbar-nav">
          <li  routerLinkActive="active" [routerLink]="['/remedys']"><a>Remédios</a></li>
          <li routerLinkActive="active" [routerLink]="['/remedy-register']"><a>Cadastrar Remédio</a></li>
          <li routerLinkActive="active" [routerLink]="['/about']"><a>Sobre</a></li>


      </ul>
    </div>

    <div class="pull-right">
      <ul class="nav navbar-nav">
          <li *ngIf="!loggedIn()" class="pull-right" [routerLink]="['/login']"><a>Login / Register</a></li>
          <li *ngIf="loggedIn()" class="pull-left"><a> Bem vindo | {{data.mail}}</a></li>
          <li *ngIf="loggedIn()" class="pull-right" (click)="logout()" class="pull-right"><a> Sair </a></li>
      </ul>
    </div>
  </div>
    <!-- /.navbar-collapse -->

  </div>
</nav>
</header>
