<section class="content-header">
  <h1>Cadastrar Remédio</h1>
</section>

<section class="content col-md-12 col-xs-12">
  <div class="container col-xs-12">
    <div class="col-md-12">
        <div class="box-header with-border box box-primary">
            <div class="form-group">
              <form #formRemedy="ngForm" novalidate>

                <h3 class="box-title callout callout-info col-md-12 col-xs-12">Dados do remédio</h3>

                  <gmr-input-container errorMessage="Campo obrigatório com no minimo 3 caracteres e não pode conter espaços" label="Nome do Remédio:">
                    <input name="des_name" class="form-control" placeholder="Coloque o nome do remédio" pattern="^[a-zA-Z_\-]+$" ngModel required minlength="3">
                  </gmr-input-container>

                  <gmr-input-container errorMessage="Campo obrigatório" label="Categoria:">
                    <!--<input name="des_category" class="form-control" placeholder="Coloque a categoria" ngModel required>-->
                    <select #des_category name="des_category" class="form-control" placeholder="Coloque a categoria" ngModel required>
                      <option *ngFor="let elements of selectElements" [value]="elements.Name">{{elements.Name}}</option>
                    </select>
                  </gmr-input-container>

                  <gmr-input-container errorMessage="Campo obrigatório não pode conter espaços" label="Doságem:">
                    <input name="des_dosage" class="form-control" placeholder="Coloque a doságem exemplo: 10ml" pattern="^[a-zA-Z0-9_\-]+$" ngModel required>
                  </gmr-input-container>

                  <gmr-input-container errorMessage="Campo obrigatório" label="Data de válidade:">
                    <!--<input name="validateDate" class="form-control" placeholder="Data de válidade" ngModel required>!-->
                    <div class="input-group date">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" name="des_validate" class="form-control pull-right" placeholder="Data de válidade" ngModel required id="datepicker">
                    </div>
                  </gmr-input-container>

                  <gmr-input-container errorMessage="Campo obrigatório" label="Descrição:">
                    <textarea name="des_description" class="form-control" placeholder="Coloque a descrição" ngModel required></textarea>
                  </gmr-input-container>


                <div class="col-md-4 col-xs-6" type="submit">
                  <button class="btn btn-primary col-md-12 button-custom" type="submit" (click)="checkInformations(formRemedy.value); formRemedy.reset()" [disabled]=" !formRemedy.valid && loggedIn()"  name="remedyRegisterButtonSubmit">Confirmar</button>
                </div>

                <div class="col-md-4 ">

                </div>

                <div class="col-md-4 col-xs-6" type="submit">
                  <button class="btn btn-danger col-md-12 button-custom" type="submit" (click)="returnHome()" name="remedyRegisterButtonSubmit">Cencelar</button>
                </div>


              </form>
            </div>
        </div>
      </div>



        </div>
</section>
