<a [routerLink]="['/remedys',remedy.id]">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="remedy.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{remedy.name}}</span>
      <span class="place-info-box-text">{{remedy.dosage}} <i class="fa fa-thermometer"></i></span>
      <span class="place-info-box-text"><i class="fa fa-calendar"></i> Validade: {{remedy.validateDate}}</span>
      <span class="place-info-box-detail">Categoria: {{remedy.category}}</span>


    </div>
    <!-- /.info-box-content -->
  </div>
</a>
