<div class="form-group">
  <form #formRemedy="ngForm" novalidate>
    <div [class.has-success]="input.valid && (input.dirty|| input.touched)"
         [class.has-error]="!input.valid && (input.dirty|| input.touched)">
        <label for="remedyRegisterRemedyName">{{label}}</label>

        <ng-content></ng-content>

        <span class="help-block" *ngIf="input.valid && (input.dirty|| input.touched)"><i class="fa fa-check"></i>ok</span>
        <span class="help-block" *ngIf="!input.valid && (input.dirty|| input.touched)"><i class="fa fa-remove"></i>{{errorMessage}}</span>
    </div>
